@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: rgb(5, 65, 80);
}
 
nav button .navbar-toggler-icon{
    outline: none;
}

nav button .navbar-toggler{
    outline: none;
}

.nav-link, .navbar-brand{
    color: #fff;
    text-align: center;
}

.navbar-brand{
    font-weight: bold;
}

@media (min-width:1274px){
    nav ul{
        margin-left: 250px;
    }
}

nav button span i{
    color:#fff; 
    font-size:28px;
}

.nav-link{
    font-weight: 500;
}

.social-links .nav-link{
    color: #fff;
}

.nav-link:hover,.navbar-brand:hover{
    color: rgb(54, 203, 240);
}

@media (max-width: 575px){
    nav li:hover{
        border: 1px solid white;
        border-radius: 2px;
    }
}

@media (min-width: 716px){
    .social-links a{
        margin-right: 6px;
    }
}

#carouselExampleCaptions{
    background-color: black;
    overflow: hidden;
}

.carousel-inner img{
    height: 34em;
    opacity: 0.8;
    object-fit: cover;
}

@media (max-width: 575px){
    .carousel-inner img{
        height: auto;
    }
}

.college h3,.college h4,.school h3,.school h4{
    color: #fff;
    font-weight: bold;
}

.college img{
    opacity: 0.5;
}

.college a,.school a{
    text-decoration: none;
}

.profile-pic h2,.profile-pic h4{
    color: #fff;
    font-weight: bold;
    margin-left: 30px;
}

.profile-pic h4{
    margin-top: 20px;
}

.profile-pic img{
    opacity: 1;
    border-radius: 50%;
    margin-top: 10px;
}

.rounded{
    border-radius: 50%;
}

#about{
    margin-top: 7em;
}

#about h2{
    content: ""; 
    display: block;
    margin: 0 auto;
    width: 10%;
    padding-top: 20px;
    border-bottom: 3px solid rgb(54, 203, 240);
}

#experience,#education{
    margin-top: 7em;
}

#experience h2{
    content: ""; 
    display: block;
    margin: 0 auto;
    width: 16%;
    padding-top: 30px;
    border-bottom: 3px solid rgb(54, 203, 240);
}

#education h2{
    content: ""; 
    display: block;
    margin: 0 auto;
    width: 15%;
    padding-top: 30px;
    border-bottom: 3px solid rgb(54, 203, 240);
}

#experience h4,#experience h3,#education h4,#education h3{
    margin-top: 10px;
}

#experience a,#education a{
    text-decoration: none;
    color: rgb(54, 203, 240);
    font-style: italic;
    font-size: 20px; 
}

#experience .duration, #education .duration{
    font-size: 15px;
}

.experiences,.educations{
    border-bottom: 1px solid rgb(199, 196, 196);
}

#skills h2{
    content: ""; 
    display: block;
    margin: 0 auto;
    width: 7%;
    padding-top: 20px;
    margin-top: 100px;
    border-bottom: 3px solid rgb(54, 203, 240);
}

#skills h3{
    margin-top: 35px;
    margin-bottom: 35px;
    font-weight: 500;
    font-size: 1.6em;
}

.dev-icons li{
    font-size: 3rem;
    opacity: 0.6;
    margin: 50px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.dev-icons li:hover{
    opacity: 1;
    color: rgb(54, 203, 240);
    cursor: pointer;
}

footer{
    background: rgb(5, 65, 80);
}

footer small{
    text-align: center;
}

footer smaLL span{
    color: red;
    font-size: medium;
}